[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "third_party/spirv-headers"]
	path = third_party/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "third_party/spirv-tools"]
	path = third_party/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "third_party/opencl-headers"]
	path = third_party/opencl-headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "third_party/vulkan-headers"]
	path = third_party/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
